@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Source Sans 3' , sans-serif;
}
body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: rgb(0, 0, 0);
    position: relative;
}
.container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
h2{
   color: rgb(255, 255, 255);
   font-size: 6rem;
   text-align: center;
}
.block {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(220, 114, 255);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
}
.content {
    height: 100%;
    opacity: 0;
    pointer-events: none;
}
body.appear .content {
    animation-name: PageAnime-content;
    animation-duration: 0.55s;
    animation-delay: 0.55s;
    animation-fill-mode: forwards;
    opacity: 0;
    pointer-events: auto;
}
.animation .content {
    opacity: 1;
    pointer-events: auto;
}
@keyframes PageAnime-content {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ヘッダー */
.c-header {
    height: 100px;
}
.c-header {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.c-header .logo {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bold;
}
.c-header .logo.level02 {
    color: rgb(255, 255, 255);
}
.c-header .logo.level03 {
    color :rgb(255, 255, 255);
}
.c-menu ul {
    display: flex;
}
.c-menu li {
    margin-left: 40px;
}
.c-menu li a {
    font-size: 18px;
    font-weight: 500;
    position: center;
    transition: 0.2s ease-in-out;
}
.c-menu li a::before {
    background: transparent;
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: 0.2s ease-in-out;
}
@media screen and (min-width:762px){
    .c-menu li a:hover {
        color: #75bec2;
    }
    .c-menu li a:hover::before {
        background: #75bec2;
        transition: 0.2s ease-in-out;
    }
    .c-menu.level02 li a:hover {
        color: #ff97bd;
    }
    .c-menu.level02 li a:hover::before {
        background: #ff97bd;
        transition: 0.2s ease-in-out;
    }
    .c-menu.level03 li a:hover::before {
        color: #77ebda;
    }
    .c-menu.level03 li a:hover::before {
        background: #77ebda;
        transition: 0.2 ease-in-out;
    }
}
@media screen and (min-width:926px) {
    .c-menu-btn {
        display: none;
    }
}
@media screen and (max-width:925px) {
    .c-header {
        height: 70px;
    }
    .c-header .logo {
        font-size: 30px;
    }
    .c-menu {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: .3s ease-in-out;
        transform: translateY(-70px);
        z-index: 999;
    }
    .c-menu ul {
        display: block;
        width: 100%;
    }
    .c-menu li {
        background: #fff;
        margin-left: 0;
    }
    .c-menu li a {
        display: block;
        padding: 15px 30px;
    }
    .c-menu li + li {
        border-top: 1px solid #ddd;
    }
    .c-menu li a {
        font-size: 16px;
    }
    .c-menu.is-openn {
        opacity: 1;
        display: block;
        transform: translateY(70px);
    }
    .c-menu li a:hover {
        color: #333;
    }
    .c-menu li a:hover::before {
        content: none;
    }
    .c-menu.level02 li a:hover {
        color: #333;
    }
    .c-menu.level02 li a:hover::before {
        content: none;
    }
}

.c-menu-btn {
    cursor: pointer;
    width: 30px;
    height: 22px;
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    margin: auto;
    z-index: 999;
}
.c-menu-btn .inn {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.c-menu-btn .inn .line {
    position: absolute;
    display: inline-block;
    background-color: #333;
    height: 2px;
    left: 0;
    width: 100%;
    transition: 0.3s;
}
.c-menu-btn .inn .line:nth-of-type(1) {
    top: 0;
}
.c-menu-btn .inn .line:nth-of-type(2) {
    top: 10px;
}
.c-menu-btn .inn .line:nth-of-type(3) {
    top: 20px;
}

.c-menu-btn.is-open .inn .line:nth-of-type(1) {
    top: 45%;
    transform: rotate(45deg);
}
.c-menu-btn.is-open .inn .line:nth-of-type(2) {
    opacity: 0;
}
.c-menu-btn.is-open .inn .line:nth-of-type(3) {
    top: 45%;
    transform: rotate(-45eg);
    bottom: auto;
}

.black-bg {
    position: fixed;
    left: 0;
    top: 70px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    transition: all .6s;
    cursor: pointer;
}
.black-bg.is-open {
    display: block;
}
